<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Web Desktop Application Launcher</title>

        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/index.js"></script>
    </head>
    <body>
        <h1>Web Desktop Application Launcher</h1>
        <div id="app-list">
            {{range $index, $app := .}}
                <div class="app-item">
                    {{if $app.Banner}}
                        <img src="{{$app.Banner}}" />
                        <div class="app-bg-overlay"></div>                      
                    {{end}}
                    <div>
                        <div>
                            <h2>{{$app.Name}}</h2>
                        </div>
                        <div class="app-grow"></div>
                        <div class="app-buttons">
                            {{if $app.Start}}
                                <button class="app-start" data-index="{{$index}}" data-type="0">Start</button>
                            {{end}}

                            {{if $app.Stop}}
                                <button class="app-stop" data-index="{{$index}}" data-type="1">Stop</button>
                            {{end}}
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </body>
</html>